# Miscellaneous
*.class
*.log
*.pyc
*.swp
flut_nu/.DS_Store

# IntelliJ related
*.iml
*.ipr
*.iws
flut_nu/.idea/

# Flutter/Dart/Pub related
**/doc/api/
flut_nu/.dart_tool/
flut_nu/.flutter-plugins
flut_nu/.flutter-plugins-dependencies
flut_nu/.packages
flut_nu/.pub-cache/
flut_nu/.pub/
flut_nu/build/
flut_nu/.metadata
flut_nu/ios/Flutter/Debug.xcconfig
flut_nu/ios/Flutter/Release.xcconfig
flut_nu/ios/Runner.xcodeproj/project.pbxproj
flut_nu/ios/Runner.xcodeproj/project.xcworkspace/contents.xcworkspacedata
flut_nu/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-1024x1024@1x.png
flut_nu/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@1x.png
flut_nu/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@2x.png
flut_nu/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@3x.png
flut_nu/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@1x.png
flut_nu/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@2x.png
flut_nu/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@3x.png
flut_nu/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@1x.png
flut_nu/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@2x.png
flut_nu/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@3x.png
flut_nu/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-60x60@2x.png
flut_nu/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-60x60@3x.png
flut_nu/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-76x76@1x.png
flut_nu/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-76x76@2x.png
flut_nu/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-83.5x83.5@2x.png
flut_nu/android/app/src/main/res/mipmap-hdpi/ic_launcher.png
flut_nu/android/app/src/main/res/mipmap-mdpi/ic_launcher.png
flut_nu/android/app/src/main/res/mipmap-xhdpi/ic_launcher.png
flut_nu/android/app/src/main/res/mipmap-xxhdpi/ic_launcher.png
flut_nu/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher.png
flut_nu/ios/Runner/Assets.xcassets/LaunchImage.imageset/LaunchImage.png
flut_nu/ios/Runner/Assets.xcassets/LaunchImage.imageset/LaunchImage@2x.png
flut_nu/ios/Runner/Assets.xcassets/LaunchImage.imageset/LaunchImage@3x.png
flut_nu/ios/Flutter/AppFrameworkInfo.plist
flut_nu/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
flut_nu/ios/Runner.xcworkspace/contents.xcworkspacedata
